fieldset {
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  div:has(input) {
    flex: 1 0 calc(50% - 8px);
  }

  div:has(select) {
    flex: 1 0 calc(33% - 8px);
  }

  sub {
    color: red;
  }
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 8px;

  button {
    width: 80px;
  }
}
