---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/index.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <script src="../scripts/index.ts"></script>
  </head>
  <body>
    <BaseLayout>
      <form x-data="form">
        <fieldset>
          <legend>
            <h3>1RM's</h3>
            <p>Enter 1 rep maxes below.</p>
          </legend>

          <template x-for="input in inputs" :key="input.id">
            <div>
              <label :for="input.id" x-text="`${input.label}(lbs)`"></label>
              <input
                :name="input.id"
                :id="input.id"
                x-model="input.value"
                x-mask="9999"
                min="0"
                max="1000"
                required
              />
            </div>
          </template>
        </fieldset>

        <fieldset>
          <legend>
            <h3>Goal, Program</h3>
            <p>Select goal then program below.</p>
          </legend>

          <div>
            <label for="goal">Goal</label>
            <select
              name="goal"
              id="goal"
              required
              x-model="goal"
              hx-get="api/programs.html"
              hx-trigger="change"
              hx-target="#program"
            >
              <option value="">-- Select a goal --</option>
              <option value="strength">Strength</option>
              <option value="hypertrophy">Hypertrophy</option>
            </select>
          </div>

          <div>
            <label for="program">Program</label>
            <select
              name="program"
              id="program"
              required
              x-model="program"
              :disabled="disableSelect()"
            >
              <option value="">-- Select a program --</option>
            </select>
          </div>
        </fieldset>

        <div class="buttons-container">
          <button type="reset">Reset</button>
          <button
            type="submit"
            :disabled="disableSubmit()"
            @click.prevent="handleSubmit()">Submit</button
          >
        </div>
      </form>
    </BaseLayout>
  </body>
</html>
